body {
    font: 12px Montserrat, sans-serif;
    line-height: 1.8;
}
#XPTable {
  position: relative;
  top: 160px;
  max-width: 500px;
  table-layout: auto;
  line-height: normal;
  font: 14px Montserrat, sans-serif;
  /* border-collapse: collapse; */
  /* border: 1px solid black; */
}
tr {
  border: 1px solid black;
}
td {
  font: 14px Geneva, sans-serif;
  border-top: 1px solid black;
}
.tblhead {
  font-size: 14px;
  font-weight: bold;
}
.rowhead {
  padding-right: 10px;
  color: blue;
}
.skill {
  border-spacing: 10px;
  text-align: left;
  width: 110px;
}
.xp {
  border-spacing: 10px;
  text-align: right;
  width: 250px;
  padding-left: 10px;
}
.lvl {
  padding-right: 10px;
  padding-left: 10px;
}

#AttackCell {
  background-color: yellow;
}


#xp-lookup {
  position: absolute;
  overflow: hidden;
  /* margin: 15px; */
  height: 275px;
  width: 475px;
  top: -150px;
  left: -50px;

}
